---
volumes:
  informa-data:
    labels:
      net.mafro.kopia: true

networks:
  caddy:
    external: true

services:
  informa:
    image: ghcr.io/mafrosis/informa:dev
    restart: unless-stopped
    command: start --host 0.0.0.0 --port 3000
    build:
      context: .
      args:
        PLAYWRIGHT_VERSION: v1.55.0
    networks:
      - default
      - caddy
    environment:
      - DEBUG
      - MP3HOME=/music
      - GSUITE_OAUTH_CREDS=/src/gcp_oauth_secret.json
      - JORG_SSH_KEY=/jorg.pky
      - CA_CERT=/step_ca.crt
      - SLSKD_NUM_ALBUMS=4
      - TZ=Australia/Melbourne
      - STATE_DIR=/state
      - CONFIG_DIR=/config
      - TEMPLATE_DIR=/templates
    volumes:
      - ./config:/config:ro
      - ./templates:/templates:ro
      - ./mafro-oauth-abad62e69e8d.json:/src/gcp_oauth_secret.json:ro
      - /media/storage/music:/music:ro
      - /home/mafro/.ssh/jorg.pky:/jorg.pky
      - /etc/step_root_ca.crt:/step_ca.crt
      - informa-data:/state
    env_file:
      - .secrets
    labels:
      caddy: informa.mafro.net
      caddy.encode: "zstd gzip"
      caddy.bind: "172.16.2.2 tailscale/trevor"
      caddy.tls.ca: https://ca.mafro.net:4433/acme/acme/directory
      caddy.tls.ca_root: /root/step_ca.crt
      caddy.reverse_proxy: "{{upstreams 3000}}"
