<div class="event" style="width: {{ event.width }}px; left: {{ event.left }}px; height: {{ event.height }}px; top: {{ event.top }}px;">
	<span class="title">{{ event.name }}</span><br>
	<span class="location">{{ event.location }}</span>
</div>
